body {
  font-family: 'Roboto', sans-serif;
  background: var(--background-body);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--black-color);
  padding-top: var(--header-height);
}

footer {
  background: var(--background-dark);
}

:root {
  --brand-color: #2196f3;
  --header-color: #212121;
  --description-color: #757575;
  --white-color: #ffffff;
  --black-color: #000000;
  --background-body: #ffffff;
  --background-dark: #2f303a;
  --address-color: rgba(255, 255, 255, 0.6);
  --background-gray: #f5f4fa;
  --card-background: #eeeeee;
  --border-color: rgba(238, 238, 238, 1);
  --icon-gray-color: #afb1b8;
  --header-height: 80px;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section.two,
.section.four,
.section.five {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.three,
.section.five {
  padding-bottom: 94px;
}

/*Logo style*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
  color: var(--brand-color);

  display: block;
}

.logo-black {
  color: var(--black-color);
}

.logo-white {
  color: var(--white-color);
}

/*Site navigation*/

.header-page {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
  z-index: 1;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin-left: 93px;
}

.navigation-list .item:not(:last-child) {
  margin-right: 40px;
}

.navigation-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--header-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list .link:hover,
.navigation-list .link:focus {
  color: var(--brand-color);
}

.navigation-list .link.current {
  color: var(--brand-color);
}

.item {
  position: relative;
}

.link.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;

  background-color: var(--brand-color);
  border-radius: 2px;
}

/*Contacts*/
.contacts {
  display: flex;
  margin-left: auto;

  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}

.contacts .link {
  display: flex;

  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--description-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--brand-color);
}

.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-mail:hover,
.icon-mail:focus {
  fill: var(--brand-color);
}

.icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  padding: 0;
}

.icon-phone:hover,
.icon-phone:focus {
  fill: var(--brand-color);
}

/*Section*/

.section.one {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1600px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-one {
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);

  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

/*Button*/
.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-color);

  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  padding: 10px 32px;
  min-width: 216px;

  cursor: pointer;
}

/*Modal window*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 350px;
  background-color: var(--white-color);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-button-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*Section two*/

.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: var(--header-color);

  margin-bottom: 50px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.description-list {
  display: flex;
}

.icon-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-gray);
}

.header-three {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--header-color);

  margin-bottom: 10px;
}

.description-text {
  line-height: 1.71;
  width: 270px;
  color: var(--description-color);
}

.description-list .item:not(:last-child) {
  margin-right: 30px;
}

/*Section three*/
.box-list {
  display: flex;
}

.box-list .item:not(:last-child) {
  margin-right: 30px;
}

.label {
  display: block;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 27px;
  bottom: 0px;
  color: var(--white-color);
  width: 100%;
  height: 70px;
  left: 50%;
  transform: translate(-50%);
}
/*Sectoin four*/

.section.four {
  background-color: var(--background-gray);
}

.card-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: var(--header-color);

  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: var(--description-color);
}

.card-list {
  display: flex;
}

.container-card {
  width: 270px;
  padding: 30px;
  background-color: var(--white-color);
}

.card-list .item:not(:last-child) {
  margin-right: 30px;
}

.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon-list {
  display: flex;
  margin-top: 16px;
}

.social-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link > svg {
  display: block;
  height: 20px;
}

.social-icon {
  fill: var(--icon-gray-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--brand-color);
}

.social-icon-link:hover .social-icon,
.social-icon-link:focus .social-icon {
  fill: var(--white-color);
}
/*Section five*/

.company-list {
  display: flex;
}

.company-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-item:not(:last-child) {
  margin-right: 30px;
}

.company-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-company {
  fill: var(--icon-gray-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-link:hover,
.company-link:focus {
  border-color: var(--brand-color);
}

.company-link:hover .icon-company,
.company-link:focus .icon-company {
  fill: var(--brand-color);
}
/*Address*/

footer {
  padding: 60px 0;
}
.container.footer {
  width: 1200;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: baseline;
}
.footer {
  margin-right: 70px;
}
.footer-header {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-color);
  margin-bottom: 20px;
  margin-right: 70px;
}
/*Social*/
.container.footer {
  display: flex;
  align-items: baseline;
}

.social-list {
  display: flex;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}
.icon-footer {
  fill: var(--white-color);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--brand-color);
}

/*_______*/
.logo.footer {
  margin-bottom: 20px;
}

.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  line-height: 1.74;
  letter-spacing: var(--typical-letter-spacing);
}

.address-map {
  text-decoration: none;
  color: var(--white-color);
}

.address .address-contacts {
  color: var(--address-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-contacts:hover,
.address-contacts:focus {
  color: var(--brand-color);
}

/*Page portfolio*/

.portfolio-main {
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons-list .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-buttons {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--header-color);

  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons:hover,
.portfolio-buttons:focus {
  color: var(--white-color);
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-card {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.card-link {
  display: block;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 18px;
  line-height: 1.56;
  width: 322px;

  color: var(--white-color);
}

.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
  transform: translateY(0);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--header-color);

  margin-bottom: 4px;
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.88;

  color: var(--description-color);
}
